<%- model_class = TrainingContent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @training_content.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preconditions) %>:</strong></dt>
  <dd><%= @training_content.preconditions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:included_material) %>:</strong></dt>
  <dd><%= @training_content.included_material %></dd>
  <dt><strong><%= model_class.human_attribute_name(:necessary_material) %>:</strong></dt>
  <dd><%= @training_content.necessary_material %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= @training_content.cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model_needed) %>:</strong></dt>
  <dd><%= @training_content.model_needed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_participants) %>:</strong></dt>
  <dd><%= @training_content.max_participants %></dd>
  <dt><strong><%= model_class.human_attribute_name(:included_services) %>:</strong></dt>
  <dd><%= @training_content.included_services %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @training_content.comments %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level) %>:</strong></dt>
  <dd><%= @training_content.level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @training_content.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              training_contents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_training_content_path(@training_content), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              training_content_path(@training_content),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
